:root {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    --accent: #7300ff;
    --neutral0: #000000;
    --neutral1: #333333;
    --neutral2: #f8f8f8;
    --neutral3: #ffffff;
}

*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul li {
    list-style-type: none;
}

img {
    display: block;
}

h1 {
    font-size: 2.375rem;
    line-height: 130%;
}

h2 {
    font-size: 2rem;
    line-height: 120%;
}

h3 {
    font-size: 1.5rem;
    line-height: 120%;
}

h4 {
    font-size: 1.125rem;
    line-height: 130%;
}


h5 {
    font-size: 1rem;
    line-height: 150%;
}

h6 {
    font-size: 0.875rem;
    line-height: 130%;
}

p {
    font-size: 1rem;
    line-height: 150%;
}

.p2 {
    font-size: 1.125rem;
    line-height: 140%;

}

.mc1 {
    font-size: 0.875rem;
    line-height: 130%;
}

.mc2 {
    font-size: 0.75rem;
    line-height: 130%;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.primary-btn {
    background-color: var(--accent);
    color: var(--neutral3);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
}

.btn-padding {
    padding: 0.8125rem 1rem;
}

.secondary-btn {
    background-color: var(--neutral3);
    color: var(--accent);
    cursor: pointer;
    font-size: 1rem;
    border: 1px solid var(--accent);
    border-radius: 4px;
}

.header {
    font-weight: 600;
    padding-inline: 1.5rem;
    height: 62px;
}

.nav-links {
    gap: 19px;
}

.nav-btn-container {
    gap: 8px
}

.hamburger {
    display: none;
}

.tutors-section {
    max-width: 1200px;
    gap: 20px;
    width: 80%;
    margin: 5rem auto;
}

.tutor-description {
    padding-top: 1.5rem;
    padding-bottom: 3rem;
}

.tutor-heading {
    font-size: 3.125rem;
    line-height: 110%;
    font-weight: 700;
    color: var(--neutral0);

    span {
        color: var(--accent);
    }

}

.tutors-section .primary-btn {
    padding: 1.25rem 2rem;
}

.flex-1 {
    flex: 1;
}

.tutors-img {
    width: 50%;
    max-width: 584px;
    height: auto;
    object-fit: cover;
}


.hidden {
    display: none !important;
}

.mobile-nav {
    display: none;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.75rem;
        line-height: 130%;
    }

    h2 {
        font-size: 1.5rem;
        line-height: 120%;
    }

    h3 {
        font-size: 1.5rem;
        line-height: 120%;
    }

    h4 {
        font-size: 0.875rem;
        line-height: 120%;
    }

    p {
        font-size: 0.875rem;
        line-height: 140%;
    }

    .p2 {
        font-size: 1.025rem;
        line-height: 140%;
    }

    .hamburger {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .tutors-section {
        flex-direction: column-reverse;
        margin: 2.75rem 1rem;
        width: auto;
    }

    .tutors-img {
        width: 100%;
    }

    .tutors-section .primary-btn {
        width: 100%;
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 62px;
        right: 0;
        height: 100vh;
        background-color: var(--neutral3);
        z-index: 9;
    }

    .mobile-nav-link-item {
        padding: 1rem 0.5rem 1rem 0.75rem;
    }

    .mobile-nav-btn-container {
        flex-direction: column;
        gap: 12px

    }

}


