:root {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    --accent: #7300ff;
    --neutral1: #33333300;
    --neutral2: #f8f8f8;
    --neutral3: #ffffff;
}

*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul li {
    list-style-type: none;
}

img {
    display: block;
}

h1 {
    font-size: 2.375rem;
    line-height: 130%;
}

h2 {
    font-size: 2rem;
    line-height: 120%;
}

h3 {
    font-size: 1.5rem;
    line-height: 120%;
}

h4 {
    font-size: 1.125rem;
    line-height: 130%;
}


h5 {
    font-size: 1rem;
    line-height: 150%;
}

h6 {
    font-size: 0.875rem;
    line-height: 130%;
}

p {
    font-size: 1rem;
    line-height: 150%;
}

.p2 {
    font-size: 1.125rem;
    line-height: 140%;

}

.mc1 {
    font-size: 0.875rem;
    line-height: 130%;
}

.mc2 {
    font-size: 0.75rem;
    line-height: 130%;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.primary-btn {
    background-color: var(--accent);
    color: var(--neutral3);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
}

.btn-padding {
    padding: 0.8125rem 1rem;
}

.secondary-btn {
    background-color: var(--neutral3);
    color: var(--accent);
    cursor: pointer;
    font-size: 1rem;
    border: 1px solid var(--accent);
    border-radius: 4px;
}

.header {
    font-weight: 600;
    padding: 0.75rem 1.5rem;
}

.nav-links {
    gap: 19px;
}

.nav-btn-container {
    gap: 8px
}

.hamburger {
    display: none;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.75rem;
        line-height: 130%;
    }

    h2 {
        font-size: 1.5rem;
        line-height: 120%;
    }

    h3 {
        font-size: 1.5rem;
        line-height: 120%;
    }

    h4 {
        font-size: 0.875rem;
        line-height: 120%;
    }

    p {
        font-size: 0.875rem;
        line-height: 140%;
    }

    .p2 {
        font-size: 1.025rem;
        line-height: 140%;
    }

    .hamburger {
        display: block;
    }

    .nav-links {
        display: none;
    }

}

