:root {
    font-size: 18px;
    font-family: Inter, Helvetica, sans-serif;
    box-sizing: border-box;
    --primary-color: #2F80ED;
    --secondary-color: #808080;
    --min-nature: #ffffff;
    --max-nature: #000000;
    color: var(--secondary-color);
}

*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* hover, active */
a {
    text-decoration: none;
    color: inherit;
}

ul li {
    list-style-type: none;
}

img {
    display: block;
    object-fit: cover;
}

.active-color {
    color: var(--primary-color);
}

.container {
    padding: 120px 60px;
}

.flex {
    display: flex;
}

.flex-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Button Components Start */
.btn {
    padding: 12px 48px;
    border-radius: 100px;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}

.btn-primary {
    border: 0;
    background-color: var(--primary-color);
    color: var(--min-nature);
}

.btn-secondary {
    gap: 8px;
    border: 1px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
}

.btn-secondary-white {
    color: var(--min-nature);
    border: 1px solid white;
}

.btn-secondary-white svg path {
    fill: var(--min-nature);
}
/* Button Components end */

/* Header Start */
.header-section {
    height: 120px;
    gap: 48px;
    padding: 0 80px;
}

.header-nav {
    margin-left: 45px;
}

.header-nav-list {
    gap: 48px;
    font-size: 20px;
    white-space: nowrap;
}

.reg-btn {
    font-size: 18px;
    padding: 12px 64px;
}

/*
 Hero Section Start
*/

.hero-badge {
    align-items: center;
    padding: 15px 25px;
    margin-bottom: 40px;
    border-radius: 30px;
    background-color: #F2F7FF;
    color: var(--primary-color);
}

.hero-heading {
    color: #111;
    font-size: 80px;
    font-weight: 500;
    font-family: 'Cambon', serif;
    margin-bottom: 16px;
}

.hero-image {
    width: 100%;
    height: auto;
    max-height: 550px;
    object-fit: cover;
    border-radius: 10px;
}

.btn-group {
    gap: 24px;
    margin-top: 64px;
}

.hero-section {
    gap: 38px;
    padding: 100px 118px 100px 60px;
}

.hero-section-item {
    flex: 1 1 50%;
}

.hero-image-wrapper {
    width: 50%;
    position: relative;
    height: max-content;
}


.meetings {
    padding: 16px;
    gap: 8px;
    align-items: center;
    border: 1px solid #ECF4FD;
    border-radius: 24px;
    position: absolute;
    right: -58px;
    top: -37px;
    background-color: white;
    max-width: 295px;
    z-index: 2;
}

.meetings-number {
    font-size: 48px;
    color: var(--primary-color);
}

.meetings-text {
    text-align: center;
}

.patient {
    flex-direction: column;
    position: absolute;
    left: -38px;
    bottom: -71px;
    padding: 16px;
    align-items: center;
    border: 1px solid #ECF4FD;
    border-radius: 20px;
    background-color: white;
}

.patient-number {
    text-align: right;
    font-size: 40px;
    color: var(--primary-color);
    font-weight: 600;
    align-self: end;
}

.patient-text {
    font-size: 18px;
    font-weight: 400;
    color: var(--secondary-color);
}

/*.section-block {*/
/*    margin-block: 120px;*/

/*}*/

.section-heading {
    font-size: 60px;
    font-weight: 500;
    color: #000
}

.doctors-expertise-section {
    justify-content: space-between;
    align-items: center;
}

.see-all {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 500;
}

.doctors-expertise-item {
    padding: 38px 24px;
    background-color: #F7F7F7;
    border-radius: 20px;
    flex: 0 0 424px;
    flex-wrap: wrap;
}

/*.see-all-container {*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

.icon-container {
    height: 56px;
    width: 56px;
    background-color: #E6E6E6;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.doctors-expertise-item-heading {
    font-size: 32px;
    font-weight: 500;
    color: #111;
    margin-top: 24px;
    margin-bottom: 8px;
}

.doctors-expertise-item-text {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 24px;
}

.primary-icon-link {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-color);
}

.doctors-expertise-list {
    gap: 24px;
    overflow: hidden;
    margin-block: 40px
}

.carousel-icon-group {
    justify-content: space-between;
}

.carousel-icon {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: none;
}


.about-us-image {
    flex: 1 1 50%;
    width: 100%;
}

.about-us-description {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1 1 50%;
}

.about-us-text {
    font-size: 32px;
    color: #111;
}

.about-us-statistics-container {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin-block: 40px;
    flex-wrap: wrap;
}

.about-us-statistics-value {
    font-size: 64px;
    color: var(--primary-color);
}

.about-us-statistics-key {
    font-size: 20px;
}

.text-center {
    text-align: center;
}

.about-us-section {
    justify-content: space-between;
    gap: 40px;
    flex: 1 1 50%;
    margin-block: 120px;
}

.features-container {
    gap: 8px;
    flex-wrap: wrap;
}

.features-heading {
    font-size: 32px;
    font-weight: 500;
    color: #111;
}

.features-text {
    font-size: 18px;
    font-weight: 400;
    color: var(--secondary-color);
}

/*Duplicated styles with  doctors-expertise-item    */
.features-item {
    padding: 48px 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #F5F5F5;
    flex: 1 1 0;
}

.big-feature-item {
    flex: 2;
    flex-direction: column;
}

.big-vertical-feature-item {
    flex: 1;
}

.features-item-image-container {
    flex: 1;
    padding: 40px 24px 0 20px;
}

.features-item-image {
    width: 100%;
    height: 100%;
    min-width: 350px;
}

.horizontal-feature-item-group {
    flex-direction: row;
}

.features-section-heading {
    text-align: center;
    margin-bottom: 40px;
}

.big-horizontal-feature-item {
    background-color: #F5F5F5;
}

.big-vertical-feature-item {
    background-color: #F5F5F5;
    flex-direction: column;
    border-radius: 20px;
}

.features-item-image-container-vertical {
    padding-top: 26px;
}

.patient-item {
    gap: 8px
}

.patient-image-container {
    flex: 1;
    max-width: 318px;
}

.patient-description {
    flex-direction: column;
    gap: 24px;
    padding: 40px 24px;
    background-color: #F5F5F5;
    border-radius: 20px;
    flex: 2;
    max-width: 546px;
    justify-content: space-between;
}

.patient-quote {
    font-size: 24px;
    font-weight: 500;
    color: #111;
}

.patient-name {
    font-size: 24px;
    font-weight: 500;
    color: var(--primary-color);
    font-style: normal;
}

.patient-profession {
    font-size: 18px;
    margin-bottom: 4px;
}

.patient-image {
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 20px;
}

.horizontal-feature-item-group > .features-item {
    border-radius: 20px;
}

.patients-list {
    padding-block: 40px;
    overflow: hidden;
    gap: 40px 24px;
}

.footer {
    background-color: #000;
    color: white;
    padding: 100px 60px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-direction: row;
}

.footer-heading {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 24px;
}

.footer-item {
    font-size: 18px;
    font-weight: 400;
    color: #CCCCCC;
}

/*es kara xaxtvi nestedutyun@x*/
.footer-item + .footer-item {
    margin-top: 16px;
}

.footer-links {
    gap: 30px;
    justify-content: space-between;
}

.footer-social-links {
    gap: 24px;
}

.footer-description {
    font-size: 16px;
    font-weight: 400;
    color: #CCCCCC;
    margin-top: 24px;
    margin-bottom: 40px;
}

.footer-info {
    flex: 1;
    max-width: 425px;
}

/*Duplicate */
.footer-links {
    flex: 2;
    max-width: 680px;
}

.book-consultation-section {
    background-image: url(images/doctor.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 160px 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.book-heading {
    font-size: 80px;
    font-weight: 500;
    color: white;
}

.flex-column {
    flex-direction: column;
}

.test-img {
    max-width: 425px;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.primary-color {
    color: var(--primary-color);
}

.gap-16 {
    gap: 16px;
}

.gap-8 {
    gap: 8px;
}

.diet-heading {
    font-size: 24px;
    font-weight: 500;
    color: #111;
}

.diet-list {
    overflow: hidden;
    gap: 24px;
    padding-block: 40px;
}

.diet-item {
    width: 35%;
}

/*unused class*/
.health-section {

}
